* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: x-large;
  }
  
.container {
    width: 70%;
    margin: 0 auto;
}

.elementContainer {
    min-height: 100vh;
}

.flexRow {
    display: flex;
}

.spaceBetween {
    justify-content: space-between;
}

.center {
    justify-content: center;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexColumnCenter {
    align-content: center;
}

article {
    min-height: 100vh;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none; 
    margin-right: 1.3rem;
    color: black;
}

img {
    width: 15rem;
}

header {
    min-height: 100vh;
    padding-top: 2rem;
    background-image: url("images/background.png");
    background-size: cover;
    transition: background-image 0.5s ease-in-out;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger__bar {
    display: block;
    margin: 5px 0;
    width: 25px;
    height: 3px;
    transition: all 0.3s ease;
    background-color: black;
}

.popit {
    margin-top: 20%;
}

.popit__name {
    font-size: 7rem;
    font-weight: bold;
    color: white;
    font-family: 'Archivo Black', sans-serif;
}

.popit__text {
    margin-top: 1rem;
    margin-bottom: 4rem;
    color: white;
}

.popit__button {
    background-color: #00FFFF; 
    margin-bottom: 2rem;
    width: 8rem;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.titleSection {
    text-align: center;
    font-weight: bold;
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
}

.choiceSection {
    background-color: #00FFFF; 
}

.blockElements {
    display: flex;
    justify-content: space-between;
}


.blockElements__item {
    margin: 2rem;
    justify-items: center;
}

.blockElements__item__button {
    background-color: #4CAF50; 
    margin: auto;
    width: 140px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.blockElements__item__text {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.rules {
    background-image: url("images/bg-grid.png");
    background-position: center center;
    background-repeat: no-repeat;
}

.rules__title {
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.rules__text {
    width: 350px;
    margin-bottom: 2rem;
    font-size: 1.3rem;
}

rules__image {
    width: 15rem;
}

footer {
    background-color: black; 
    padding-top: 1rem;
    padding-bottom: 1rem;
}

footer a {
    color: white;
}

@media (max-width: 767px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .hamburger__bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .hamburger__bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .hamburger__bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .navMenu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap:0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s
    }
    
    .navMenu__item {
        margin: 16px 0;
    
    }
    
    .navMenu.active {
        left: -30%;
    }

    .blockElementsMobile {
        display: flex;
        flex-direction: column;
    }

}

